*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
background-color: rgb(255, 255, 255);
}
body i:hover{
    color: rgb(79, 79, 255);
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
}
nav{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(49, 46, 46);
    
}
.img{
    display: flex;
}
.img img{
    margin: auto;
    height: 50px;
    border-radius: 50%;
}

.icon{
    color: white;
    cursor: pointer;
}
.icon i{
    margin: 30px;

}
.input{
    margin: auto;
}
 .input input{
    height: 30px;
    border-radius: 25px;
    border: none;
 } 
 .input button{
    border-radius: 25px;
    background: #019df7;
	color: white;
	border-color: #0066A2;
	height: 33px;
	width: 70px;
	font: bold15px arial,sans-serif;
    border: none;  
 }
 .icon2{
    color: white;
}
.icon2 i{
    margin: 30px;

}  
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%; 
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 7px;
    align-self: flex-start;
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 7px;
    align-self: flex-start;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.main-content{
    flex-basis: 47%;
}
.emp-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
     width: fit-content;
}
.emp-links a i{
    width: 25px;
    margin-right: 15px;

}
.emp-links a:last-child{
    color: blue;
}
.emp-links{
    border-bottom: 1px   solid  black;
}
.shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: black;
    width: fit-content;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 5px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: black;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: blue;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.left-event h3{
margin-top: 13px;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(129, 129, 255);
    font-size: 12px;
    color: white;
}
.right-event p{
    font-size: 12px;
}
.right-event a{
    text-decoration: none;
    font-size: 12px;
    color: blue;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50px;
    background: rgb(20, 175, 20);
    position: absolute;
    top: 0;
    right: 0;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.online-list .online::after{
    top: unset;
    bottom: 5px;
}
.story-gallary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(img/images\ \(7\).jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.x2{   
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(img/x1.jpg);
}
.x3{   
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(img/x2.jfif);
}
.x4{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(img/x3.webp);
}
.x5{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(img/x4.jfif);
}
.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 2px solid blue;
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 12px;
}
.write-post{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-prrofile{
    display: flex;
    align-items: center;
}
.user-prrofile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-prrofile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-prrofile small{
    font-size: 12px;
}
.post-input{
    padding-left: 55px;
    padding-top: 10px;
}
.post-input textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #575757;
    margin: 10px;
    /* margin-left: 25px; */
    font-size: 10px;
}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}
.podting{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 20px;
    color: #4d4c4c;
    margin: 20px 0;
}
.podting p{
    margin-top: 10px;
    color: black;
    margin-bottom: 10px;
}
.com-share-like{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.com-share-like .icons div img{
    width: 18px;
    margin-right: 10px;
}
.com-share-like .icons div{
    display: inline-flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 16px;
}